body{
    background: rebeccapurple;
}

.container{
    max-width: 400px;
}

input[type=text], /* when text is out of focus and also when its in focus ie. when its highlighted when input is clicked on*/
input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

.todos li{
    background: darkblue;
}

.delete{
    cursor: pointer;
}

.filtered{
    display: none !important;
}